// Theme Colors
$color-primary: #ff00de;
$color-primary-light: lighten($color-primary, 10%);
$color-primary-dark: darken($color-primary, 10%);

$color-error: #bc2900;
$color-error-negative: #ff3800;

$color-action: $color-error-negative;
$color-action-light: lighten($color-action, 5%);
$color-action-dark: darken($color-action, 5%);
$color-warning: $color-error;
$color-info: $color-primary-dark;

// Grayscale colors
$color-gray-100: #f5f5f5;
$color-gray-150: #ededed;
$color-gray-200: #d7d7d7;
$color-gray-300: #b8b8b9;
$color-gray-400: #999a9b;
$color-gray-500: #747576;
$color-gray-600: #5c5d5f;
$color-gray-700: #3e3e41;
$color-gray-800: #1e1f22;
$color-gray-900: #0f0f10;
$color-gray-1000: #000104;

// Remaining Colors
$color-black: $color-gray-1000;
$color-white: #ffffff;

// Type Colors
$base-type-color: $color-gray-800;
$reversed-type-color: $color-white;
$reversed-gray: #868789;

// Element Colors
$overlay-background-color: rgba($color-gray-900, 0.6);
$search-count-color: #868789;

// Form Colors
$input-border-color: #c9c9c9;
$input-active-color: $color-primary;
$input-placeholder-color: #7a7b7c;
$order-detail-border-color: $color-gray-400;

// Layout Colors
$background-light-color: $color-white;
$background-light-gray-color: $color-gray-100;
$background-gray-color: $color-gray-700;
$background-dark-color: $color-gray-800;

// Cart Colors
$cart-action-button-color: $color-gray-200;
$cart-action-hover-color: darken($cart-action-button-color, 5%);

// Compare
$compare-background-color: $background-light-gray-color;
$compare-row-hover-color: #e1f3dc;
