// Masthead
$header-height: 72px;
$header-height-sm: 58px;

// Navigation
$experience-nav-spacing: 2rem;
$experience-nav-list-width: 130px;

// Product
$atc-container-height: 62px;
$product-thumb-min-width: 230px;
$product-content-max-width: 1500px;

// Images
$image-opacity: 0.85;
