$font-family-sans-serif: 'Flama-Book', sans-serif;
$font-family-serif: Georgia, serif;

$font-family-base: $font-family-sans-serif;
$font-family-headings: 'Flama-Bold', sans-serif;
$font-family-medium: 'Flama-Medium', $font-family-sans-serif;
$font-family-italic: 'Flama-Book-Italic', $font-family-sans-serif;
$font-family-condensed: 'Flama-Semicondensed-Medium', 'Arial Narrow', $font-family-sans-serif;
