$font-family-sans-serif: Source Sans Pro, sans-serif;
$font-family-serif: Calisto MT, Bookman Old Style, Bookman, Goudy Old Style, Garamond, Hoefler Text, Bitstream Charter, Georgia, serif;

$font-family-base: $font-family-sans-serif;
$font-family-headings: Helvetica, Monaco, monospace;
$font-family-medium: 'Flama-Medium', $font-family-sans-serif;
$font-family-italic: 'Flama-Book-Italic', $font-family-sans-serif;
$font-family-condensed: 'Flama-Semicondensed-Medium', 'Arial Narrow', $font-family-sans-serif;
$font-family-type: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
