//Font Size
$font-size-50: 0.75rem;    // 12px
$font-size-75: 0.875rem;   // 14px
$font-size-100: 1rem;     // 16px
$font-size-125: 1.125rem; // 18px
$font-size-150: 1.25rem;  // 20px;
$font-size-200: 1.5rem;   // 24px;
$font-size-250: 1.75rem;  // 28px;
$font-size-300: 2rem;     // 32px;
$font-size-350: 2.25rem;  // 36px;
$font-size-400: 2.5rem;   // 40px;
$font-size-500: 3rem;     // 48px;
$font-size-600: 3.5rem;   // 56px;
$font-size-700: 4rem;     // 64px;
$font-size-800: 4.5rem;   // 72px;
$font-size-900: 5rem;     // 80px;

//Font Weight
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-regular: 400;
$font-weight-light: 300;

//Line Height
$line-height-base: 1.75;
$line-height-headings: 1.13;

//Letter Spacing
$letter-spacing-0: 0px;
$letter-spacing-1: 1px;
$letter-spacing-2: 2px;
$letter-spacing-base: $letter-spacing-0;
