@font-face {
  font-family: 'Flama-Bold';
  font-style: normal;
  font-weight: bold;
  src: local('Flama-Bold'), local('Flama-Bold'),
  url('/fonts/flama/flama-bold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('/fonts/flama/flama-bold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Flama-Book';
  font-style: normal;
  font-weight: 300;
  src: local('Flama-Book'), local('Flama-Book'),
  url('/fonts/flama/flama-book.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('/fonts/flama/flama-book.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Flama-Book-Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Flama-Book-Italic'), local('Flama-Book-Italic'),
  url('/fonts/flama/flama-book-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('/fonts/flama/flama-book-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Flama-Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Flama-Medium'), local('Flama-Medium'),
  url('/fonts/flama/flama-medium.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('/fonts/flama/flama-medium.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: 'Flama-Semicondensed-Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Flama-Semicondensed-Medium'), local('Flama-Semicondensed-Medium'),
  url('/fonts/flama/flama-semicondensed-medium.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('/fonts/flama/flama-semicondensed-medium.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
